@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-15px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (min-width: 0px) {
  :root {
    --header-text-size: 24px;
    --header-text-align: left;
  }
}

@media (min-width: 768px) {
  :root {
    --header-text-size: 30px;
    --header-text-align: center;
  }
}

:root {
  color: #333;
  --background-color: #fffff;
  --modal-color: #ffffff;
  --btn-close-color: #ffffff;
  --modal-background-color: #ffffff;
}

[data-theme="dark"] {
  --color: #ffffff;
  --background-color: #121212;
  --modal-background-color: #1a1a1b;
  --btn-close-color: #ffffff;
}

body {
  background-color: var(--background-color) !important;
  color: var(--color) !important;
}

* {
  font-family: "Inter", "Helvetica";
}

.topnav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0px;
  height: 50px;
  text-align: center;
  border-bottom: 1px solid #d3d6da;
  border-top: none;
}

.title {
  font-size: var(--header-text-size);
  flex-grow: 2;
  text-align: var(--header-text-align);
  margin-left: 10%;
}

.topnav > button {
  border: none;
  background-color: #ffffff;
  display: flex;
  float: right;
}

.navicons {
  display: flex;
  width: 10%;
  justify-content: flex-end;
}

.navicons > button {
  border: none;
  background-color: #ffffff;
  display: flex;
}

.navicons > button > img {
  height: 30px;
  background-color: #ffffff;
  display: flex;
}

#gameText {
  text-align: center;
}

#gameCounter {
  font-size: 20px;
  opacity: 0;
  animation: fade-in-right ease 0.4s forwards;
}

#timer {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.center-block {
  width: 100%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width: 100%;
  margin: auto;
  height: 200px;
  --bs-gutter-x: 0;
}

.row > img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  --bs-gutter-x: 0;
}

img[src=""] {
  display: none;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

* {
  font-family: "Inter", "Helvetica";
}

.modal-header {
  justify-content: center;
}

.modal-title {
  width: 100%;
  text-align: center;
}

#win-modal-body {
  text-align: center;
}

.share-button {
  margin-top: 0 !important;
  background-color: #6aaa64;
  border-radius: 104px;
  font-weight: 700;
  font-size: 16px;
  width: 150px;
  height: 44px;
  color: #ffffff;
}
.share-button > label {
  padding-right: 20px;
}

#copied-message {
  width: 100% !important;
  justify-content: center;
  text-align: center;
  display: none;
  animation: fadeOut 2s;
  animation-fill-mode: forwards;
}

#copied-text {
  display: inline-block;
  background-color: #0d0d0d;
  color: white;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 10px 0;
}

.modal-content {
  background-color: var(--modal-background-color) !important;
}

.btn-close {
  background-color: var(--btn-close-color) !important;
}
